<form [formGroup]="submitForm">
  <div class="col col-lg-12">
    <div class="row">
      <div class="col col-lg-6">
        <label>Title</label>
        <input formControlName="title" type="text" class="form-control" placeholder="Set a Title">
      </div>
      <div class="col col-lg-6">
        <label>Description</label>
        <input formControlName="description" type="text" class="form-control" placeholder="Description">
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-6">
        <label>Title</label>
        <input formControlName="title" type="text" class="form-control" placeholder="Set a Title">
      </div>
      <div class="col col-lg-6">
        <label>Description</label>
        <input formControlName="description" type="text" class="form-control" placeholder="Description">
      </div>
    </div>
  </div>
</form>
