<div class="row">
  <div class="col col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click) = "sortListByTitle()">Title</th>
            <th scope="col" (click) = "sortListByPriority()">Priority</th>
            <th scope="col" (click) = "sortListByReporter()">Reporter</th>
            <th scope="col" (click) = "sortListByDate()">Date Created</th>
            <th scope="col" (click) = "sortListByStatus()">Status</th>
            <th style="text-align: center">
              <button (click) = "routerNavigation()"
               type="button" class="btn btn-default btn-lg">
                  <img src='assets/images/img_28512.png' width="20" height="20">
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugDataList">
            <th scope="row">{{bug.title}}</th>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date}}</td>
            <td colspan="2">{{bug.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

