button {
  padding: 0px;
}

.card-body {
  padding: 0px;
}

.table-rerponsive {
  width: 100%;
}

td {
  text-align: center;border-left:1px solid #ddd;
}

th {
  text-align: center;border-left:1px solid #ddd;
}

