<!-- <div class="row">
  <div class="col col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col" (click) = "sortListByTitle()">Title</th>
            <th scope="col" (click) = "sortListByPriority()">Priority</th>
            <th scope="col" (click) = "sortListByReporter()">Reporter</th>
            <th scope="col" (click) = "sortListByDate()">Date Created</th>
            <th scope="col" (click) = "sortListByStatus()">Status</th>
            <th style="text-align: center;border-left:1px solid #ddd;">
              <button (click) = "AddBugNavigation()"
               type="button" class="btn btn-default btn-lg">
                  <img src='assets/images/img_28512.png' width="20" height="20">
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugDataList ; let i = index ">
            <th scope="row">{{bug.title}}</th>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date}}</td>
            <td>{{bug.status}}</td>
            <th style="text-align: center;border-left:1px solid #ddd;">
              <button (click) = "EditBugNavigation(bug.id)"
                 type="button" class="btn btn-default btn-lg">
                    <img src='assets/images/84380.png' width="20" height="20">
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 -->

<div class="card text-center">
  <!-- <div class="card-header">
    Featured
  </div> -->
  <div class="card-body">
    <div class="table-responsive table-borderless">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="sortListByTitle()">Title</th>
            <th scope="col" (click)="sortListByPriority()">Priority</th>
            <th scope="col" (click)="sortListByReporter()">Reporter</th>
            <th scope="col" (click)="sortListByDate()">Date Created</th>
            <th scope="col" (click)="sortListByStatus()">Status</th>
            <th style="text-align: center;border-left:1px solid #ddd;">
              <button (click)="AddBugNavigation()" type="button" class="btn btn-default btn-lg">
                <img src='assets/images/img_28512.png' width="20" height="20">
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugDataList ; let i = index ">
            <td scope="row">{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date}}</td>
            <td>{{bug.status}}</td>
            <td style="text-align: center;border-left:1px solid #ddd;">
              <button (click)="EditBugNavigation(bug.id)" type="button" class="btn btn-default btn-lg">
                <img src='assets/images/84380.png' width="20" height="20">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
